Source: olla
Section: devel
Priority: extra
Maintainer: Paul Tagliamonte <paultag@debian.org>
Build-Depends: debhelper (>= 9), bash-completion,
Standards-Version: 3.9.4
Homepage: http://github.com/paultag/libolla
X-Python-Version: >= 2.7

Package: olla
Architecture: any
Depends: ${misc:Depends}, ${python:Depends}, ${shlibs:Depends}
Recommends: bash-completion
Description: hack to avoid typing out full domains
 By overrideing `getaddrinfo`, we can use shorthand domains, such
 as `d.o`, or `d.n` to talk about `debian.org` or `debian.net`
 domains.
 .
 This means such stuff as:
 .
   git clone git.d.o:/git/collab-maint/dputng.git
 .
 will work without any sort of trouble at all.
 .
 Since we're all lazy. You know.
